# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

/src/libraries/Common/src/Interop/                                  @dotnet/platform-deps-team
/src/libraries/Common/src/System/Net/Http/aspnetcore/               @dotnet/http
/src/libraries/Common/tests/Tests/System/Net/aspnetcore/            @dotnet/http
/src/libraries/System.Text.Json/                                    @steveharter @layomia @Jozkee @eiriktsarpalis
/src/libraries/System.Text.RegularExpressions/                      @veanes @stephentoub @danmose @olsaarik

